<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Fleet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header class="sidebar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/fleet"><i class="fa fa-fw fa-pie-chart"></i> Statistic</a>
        <a href="/contact"><i class="fa fa-fw fa-envelope"></i> Kontakt</a>
        <a href="/register"><i class="fa fa-fw fa-user"></i> Register</a>'
    </header>
<body>
    <div class="content">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="headline">Min flåde</h5>
    </div>
    <p class="sub-title">Oversigt over dine maskiner.</p>
  </a>
  <a href="#">
    <div class="d-flex w-100 justify-content-between">
  </a>
</div>
    <iframe class="pLink" width="1065" height="654" src="https://app.powerbi.com/view?r=eyJrIjoiYjI0ODg5YTEtODcxYS00NWNhLWE5YzMtNWJiYTVhZGFiYWRkIiwidCI6IjViMTlmZWQ2LTZmMzgtNDk3Yy04MzVmLTgzMGRkMmEyZjI5ZiIsImMiOjl9&pageName=ReportSection" frameborder="0" allowFullScreen="true" ></iframe>
</body>
<ul class="list-group">
  <li class="list-group-item disabled">sidste hydraulik servicecheck: 568 timer siden</li>
  <li class="list-group-item">sidste motor servicecheck: 38 timer siden</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</html>